html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  background-color: #21212e;
  color: #fff;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  -webkit-filter: url("#heading")
}

.heading {
  border: 1vw solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 65%;
  line-height: 13rem;
  text-align: center;
  padding: 4rem;
  animation: bel7aG 3s ease-in-out alternate infinite;
  background-image: linear-gradient(to right, rgb(36, 159, 233), rgb(250, 76, 76), rgb(247, 147, 66), rgb(133, 203, 245), rgb(247, 147, 147));
  -webkit-background-clip: text;
  color: transparent;
}

.heading > * {
  display: block;
}

.heading > .heading-primary-main {
  letter-spacing: 1rem;
  font-size: 4vw;
  text-shadow: 1px 1px .3rem rgba(200, 200, 190, .4);
}

.heading > .heading-primary-sub {
  /* word-spacing: 3rem; */
  /* letter-spacing: 1rem; */
  text-shadow: .9rem 2.4rem 1rem #32323e;
}

@keyframes bel7aG {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) skewY(10deg);
  }

  10% {
    color: rgba(201, 39, 218, 0.44);
    letter-spacing: 0;
  }

  20% {
    word-spacing: 2rem;
    transform: translate(-50%, -50%) rotate(13deg) skewY(-10deg);
    border-color: red;
  }

  30% {
    word-spacing: 0rem;
  }

  40% {
    transform: translate(-50%, -50%) rotate(0deg) scale(.535);
    border-radius: 30%;
    border-color: blue;

  }

  50% {
    transform: translate(-50%, -50%) rotate(-13deg) scale(1.2);
    letter-spacing: 6px;
    font-size: 3rem;
  }

  60% {
    color: rgba(247, 45, 0, 0.44);
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: white;

  }

  70% {
    border-radius: -30%;
    letter-spacing: 2rem;
    transform: translate(-50%, -50%) rotate(0deg) skewX(10deg);
    color: rgba(255, 255, 255, .8);

  }

  80% {
    color: rgba(0, 0, 0, 0.44);
    transform: translate(-50%, -50%) rotate(0deg) skewX(-10deg)  scale(1);
    border-color: purple;

  }

  90% {
    transform: translate(-50%, -50%) rotate(0deg) skewX(20deg);
  }


  100% {
    transform: translate(-50%, -50%) rotate(0deg) skewX(20deg);
  }
}
